.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background: #88bfe7;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  height: 4em;
  box-shadow: 0 1px 2px rgba(32, 72, 235, 0.1),
    0 4px 6px rgba(139, 160, 255, 0.05);
  position: fixed;
  bottom: top;
  width: 100%;
  z-index: 99999;
  transition: transform 0.3s ease-in-out;
}
.hide {
  transform: translateY(-100%);
}

.logo {
  cursor: pointer;
  height: 1.5em;
  padding: 1em;
  filter: invert(14%) sepia(47%) saturate(2835%) hue-rotate(195deg)
    brightness(89%) contrast(106%);
}
.content {
  flex-grow: 1;
  margin-top: 4em;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 100%;
}
.footer {
  background-color: #1c1b1b;
  color: #999;
  padding: 50px 32px;
}
.footer a {
  color: #bbb;
  transition: color 0.3s ease;
}
.footer a:hover {
  color: #fff;
}
